In [3]:
import pandas as pd 
import numpy as np
from sklearn.linear_model import LinearRegression

In [4]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
train

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice,ExterQual_TA,Foundation_PConc,KitchenQual_TA
0,6,1969,1969,663,663,1352,1,7,1,299,158000,1,0,1
1,6,1920,1950,1012,1012,1012,1,6,1,308,118400,1,0,1
2,5,1910,2006,1022,1022,1022,1,4,1,280,85000,1,0,1
3,5,1973,1973,1656,1656,1656,2,8,2,506,135000,1,0,1
4,6,1978,1978,918,918,1683,2,7,2,440,172500,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,6,2000,2000,959,959,1671,2,7,2,472,173000,1,1,1
761,7,2002,2002,1459,1459,1459,2,6,2,527,192000,0,1,0
762,5,1955,1990,864,864,864,1,5,2,572,115000,1,0,1
763,5,1956,1956,1048,1048,1048,1,6,1,286,135000,1,0,1
764,7,2006,2007,1258,1402,1402,0,7,3,648,194201,0,1,0

In [5]:
test

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice,ExterQual_TA,Foundation_PConc,KitchenQual_TA
0,4,1961,1961,1029,1029,1029,1,5,1,261,118500,1,0,1
1,5,1921,1950,731,820,1343,1,7,1,186,154900,1,0,1
2,7,1998,1998,723,767,767,1,4,1,367,133000,1,1,1
3,4,1955,1955,1005,1005,1005,1,5,2,672,115000,1,0,0
4,6,1963,2003,1059,1068,1068,1,6,1,264,154500,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,4,1963,1963,1064,1040,1040,1,5,2,648,132250,1,1,1
325,5,1972,1972,894,894,894,1,6,2,600,123000,1,0,1
326,8,1983,2009,1496,1496,2132,1,5,2,612,316600,0,0,0
327,6,1961,1996,912,912,912,1,5,1,288,142000,1,0,0
328,8,2003,2004,1053,1053,1992,2,9,2,648,250000,0,1,0

In [12]:
model=LinearRegression()
xTrain=train.drop("SalePrice",axis=1)
yTrain=train.loc[:,"SalePrice"]
model.fit(xTrain,yTrain)

LinearRegression()

In [16]:
xTest=test.drop("SalePrice",axis=1)
yTest=test.loc[:,"SalePrice"]
yTest

0      118500
1      154900
2      133000
3      115000
4      154500
        ...
324    132250
325    123000
326    316600
327    142000
328    250000
Name: SalePrice, Length: 329, dtype: int64

In [17]:
tahminler=model.predict(xTest)

In [18]:
from sklearn.metrics import mean_squared_error

In [20]:
hataOrani=np.sqrt(mean_squared_error(yTest,tahminler))
hataOrani

33186.38417236771

In [21]:
karsilastirmaTablosu=pd.DataFrame({"gercekDegerler":yTest,"tahminler":tahminler})
karsilastirmaTablosu

     gercekDegerler      tahminler
0            118500   83380.944694
1            154900  105974.149765
2            133000  139238.138343
3            115000  104982.049557
4            154500  140473.360146
..              ...            ...
324          132250  102816.796295
325          123000  121698.649065
326          316600  271745.844407
327          142000  131258.275591
328          250000  263005.372419

[329 rows x 2 columns]

In [27]:
train.corr()["SalePrice"].sort_values(ascending=False).head(10)

SalePrice           1.000000
OverallQual         0.792263
GrLivArea           0.712054
GarageCars          0.658355
GarageArea          0.621354
1stFlrSF            0.621057
TotalBsmtSF         0.612205
FullBath            0.597505
TotRmsAbvGrd        0.573845
Foundation_PConc    0.517222
Name: SalePrice, dtype: float64