In [40]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge
from sklearn.metrics import mean_squared_error

In [41]:
train=pd.read_csv("train.csv")

In [42]:
train

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice,ExterQual_TA,Foundation_PConc,KitchenQual_TA
0,6,1969,1969,663,663,1352,1,7,1,299,158000,1,0,1
1,6,1920,1950,1012,1012,1012,1,6,1,308,118400,1,0,1
2,5,1910,2006,1022,1022,1022,1,4,1,280,85000,1,0,1
3,5,1973,1973,1656,1656,1656,2,8,2,506,135000,1,0,1
4,6,1978,1978,918,918,1683,2,7,2,440,172500,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,6,2000,2000,959,959,1671,2,7,2,472,173000,1,1,1
761,7,2002,2002,1459,1459,1459,2,6,2,527,192000,0,1,0
762,5,1955,1990,864,864,864,1,5,2,572,115000,1,0,1
763,5,1956,1956,1048,1048,1048,1,6,1,286,135000,1,0,1
764,7,2006,2007,1258,1402,1402,0,7,3,648,194201,0,1,0

In [43]:
train,test=train_test_split(train,test_size=0.2)

In [44]:
test

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice,ExterQual_TA,Foundation_PConc,KitchenQual_TA
591,7,1967,2007,710,1898,2978,2,11,2,564,242000,0,0,0
275,4,1963,1979,1051,1382,1382,1,6,2,459,148000,1,0,1
692,7,1930,1950,637,1108,1108,1,6,1,280,139400,1,1,0
106,5,1925,1950,768,1015,1015,1,6,1,450,88000,1,0,1
168,6,2009,2009,1218,1218,1218,2,4,2,676,208300,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,5,1948,2001,672,1072,1285,1,6,1,240,127000,1,0,1
384,5,1939,1950,793,793,1118,1,5,2,410,119900,1,0,1
469,8,2000,2000,1145,1145,2198,2,9,3,836,250000,0,1,0
326,5,1960,1960,1065,1065,1065,1,6,2,461,126500,1,0,1
120,9,2004,2005,1833,1850,1850,2,8,3,772,326000,0,1,0

In [45]:
train

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice,ExterQual_TA,Foundation_PConc,KitchenQual_TA
381,6,1959,2006,1019,1357,1357,1,5,1,312,177000,1,0,0
495,6,1953,1953,1505,1505,1505,1,6,2,505,149500,1,0,1
746,7,2005,2006,1552,1552,1552,2,7,3,782,212900,0,1,0
659,6,2004,2004,848,848,848,1,3,2,420,155900,0,1,0
553,5,1965,1965,828,965,965,1,6,1,300,119900,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,4,1920,1950,698,698,1128,1,6,2,528,68400,1,0,1
619,9,2007,2007,1822,1828,1828,2,9,3,774,314813,0,1,0
287,7,2004,2005,1860,1836,1836,2,8,2,484,216837,0,1,0
350,6,1950,2001,1202,2158,2158,2,7,2,576,243000,1,0,0
182,7,2006,2007,625,625,1250,2,5,2,625,171900,0,1,0

In [46]:
xTrain=train.drop("SalePrice",axis=1)
yTrain=train.loc[:,"SalePrice"]

In [47]:
xTest=test.drop("SalePrice",axis=1)
yTest=test.loc[:,"SalePrice"]

In [48]:
model1=LinearRegression()
model1.fit(xTrain,yTrain)
tahminler=model1.predict(xTest)
mean_squared_error(yTest,tahminler)

1436256385.12852

In [55]:
model2=Ridge(alpha=5)
model2.fit(xTrain,yTrain)
tahminler2=model2.predict(xTest)
mean_squared_error(yTest,tahminler2)

1431454914.9955552